.navBar{
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: black;
    color: white;
}
.navbar_img{
    width: 70%;
    border-radius: 20%;
}
.Navbar_Profile{
    display: flex;
    justify-content: space-between;
    color: white;
}